<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(t, idx) { %>
        <li>
          <a href="/skills/<%= idx %>"><%= t.skills %></a>
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>

  
        <h1>skills #<%= skillsNum %></h1>
        <h3><%= skill.skill %></h3>
        <h3>Complete: <%= skill.done ? 'Yes' : 'No' %></h3>

  </body>
</html>